body{
    font-family: 'Roboto', sans-serif;
    padding left: 50px;
    padding right: 50px;
}
.search-box{
    margin: 50px 0px;
}
.search-content{
    border: 2px soli ghostwhite;
    height: 40px;
    width: 50%;
    font-size: 20px;
    margin-left: 250px;
    border-radius: 10px;
}
.search-btn{
    background-color:tomato ;
    border: 2px solid tomato;
    height: 45px;
    width: 100px;
    font-size: 20px;

}
